
@{
    ViewBag.Title = "Education";
}

<div class="jumbotron">
    <h2>Education</h2>
    <h3>School : </h3>
    <ul>
        <li>@ViewBag.SchoolName</li>
        <li>@ViewBag.SchoolPercentage</li>
    </ul>
    <h3>School : </h3>
    <ul>
        <li>@ViewBag.CollegeName</li>
        <li>@ViewBag.CollegePercentage</li>
        <li>@ViewBag.CollegeStream</li>
    </ul>
</div>

